body {
  font-family: "Arial", sans-serif;
  padding: 20px;
  background: #fff;
  color: #333;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

.malla {
  display: grid;
  grid-template-columns: repeat(5, 200px);
  gap: 20px;
  justify-content: center;
}

.curso {
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* ===== ESTADOS ===== */

/* Bloqueado */
.bloqueado {
  background: #FDF6EC;
  color: #666;
  border: 2px dashed #574838;
  font-style: italic;
}

/* Actual */
.actual.especialidad { background: #F9CEDF; color: #000; }
.actual.general { background: #C7EFCF; color: #000; }
.actual.especifico { background: #D7EFFB; color: #000; }

/* Aprobado */
.aprobado {
  background: #FDF6EC;
  opacity: 0.9;
  text-decoration: line-through;
  font-weight: normal;
}

/* ===== LEYENDA ===== */
.leyenda {
  margin-top: 40px;
  text-align: center;
}
.leyenda div {
  display: inline-block;
  margin: 0 10px;
  padding: 10px 20px;
  border-radius: 15px;
  font-weight: bold;
}
.leyenda .especialidad { background-color: #F9CEDF; }
.leyenda .general { background-color: #C7EFCF; }
.leyenda .especifico { background-color: #D7EFFB; }
